{% set caddy_binds = (caddy_bind_address if caddy_bind_address is sequence and caddy_bind_address is not string else [caddy_bind_address]) | join(' ') %}
{
  email {{ caddy_email }}
}

{{ caddy_wildcard_host }} {
  bind {{ caddy_binds }}
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
{% for site in caddy_sites %}
{% set matcher = site.name | default(site.host.split('.')[0]) %}

  @{{ matcher }} host {{ site.host }}
  handle @{{ matcher }} {
    reverse_proxy {{ site.upstream }} {
{% if site.insecure_skip_verify | default(false) %}
      transport http {
        tls_insecure_skip_verify
      }
{% endif %}
{% if site.strip_forwarded | default(false) %}
      header_up -X-Forwarded-For
      header_up -X-Forwarded-Proto
      header_up -X-Forwarded-Host
{% endif %}
    }
  }
{% endfor %}

  handle {
    respond "no service mapped for {host}" 404
  }
}
{% for site in caddy_sites %}
{% if site.http_cover_proxy | default(false) %}

# Kobo e-readers downgrade the HTTPS cover-image host we hand them to HTTP
# (calibre-web #1758) and won't follow the auto HTTPS redirect, so library
# thumbnails silently fail. Serve *only* the Kobo cover path over HTTP; every
# other HTTP request for this host still redirects to HTTPS.
http://{{ site.host }} {
  bind {{ caddy_binds }}
  @kobocover path_regexp ^/kobo/.+\.(jpg|jpeg)$
  handle @kobocover {
    reverse_proxy {{ site.upstream }}
  }
  handle {
    redir https://{host}{uri} permanent
  }
}
{% endif %}
{% endfor %}
