services:
  audiobookshelf:
    image: {{ audiobookshelf_image }}
    restart: unless-stopped
    ports:
      - "{{ audiobookshelf_port }}:80"
    volumes:
      - config:/config
      - metadata:/metadata
      - {{ audiobookshelf_audiobooks_path }}:/audiobooks
    environment:
      TZ: "{{ audiobookshelf_tz }}"

volumes:
  config:
  metadata:
