{{ define "main" }}
<p class="section-label">{{ .Title | lower }}</p>
<ul class="post-list">
  {{ range .Pages.ByDate.Reverse }}
  <li>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    <div class="post-entry">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ with .Params.tags }}
      <div class="tags">
        {{ range . }}<a class="tag" href="/tags/{{ . | urlize }}/">{{ . }}</a>{{ end }}
      </div>
      {{ end }}
    </div>
  </li>
  {{ end }}
</ul>
{{ end }}
