OPENROUTER_API_KEY={{ hermes_openrouter_api_key }}
TELEGRAM_BOT_TOKEN={{ hermes_telegram_bot_token }}
TELEGRAM_ALLOWED_USERS={{ hermes_telegram_allowed_users }}
EMAIL_ADDRESS=monotrope.agent@gmail.com
EMAIL_PASSWORD={{ hermes_email_password }}
EMAIL_IMAP_HOST=imap.gmail.com
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_ALLOWED_USERS={{ hermes_email_allowed_users }}
BROWSERBASE_API_KEY={{ hermes_browserbase_api_key }}
BROWSERBASE_PROJECT_ID={{ hermes_browserbase_project_id }}
