OPS_BROKER_TOKEN={{ ops_broker_token }}
OPS_BROKER_NAME={{ ops_broker_name }}
OPS_BROKER_CONFIG={{ ops_broker_dir }}/config.json
OPS_BROKER_BIND={{ ops_broker_bind }}
OPS_BROKER_PORT={{ ops_broker_port }}
