AWS_ACCESS_KEY_ID="{{ restic_wasabi_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ restic_wasabi_secret_access_key }}"
RESTIC_PASSWORD="{{ restic_password }}"
RESTIC_REPOSITORY="{{ restic_repo }}"
RESTIC_CACHE_DIR="/var/cache/restic"
