services:
  calibre-web:
    image: {{ calibre_web_image }}
    pull_policy: never
    restart: unless-stopped
    ports:
      - "{{ calibre_web_port }}:8083"
    volumes:
      - calibre_config:/config
      - kobodl_config:/var/lib/kobodl
      - cwa_ingest:/cwa-book-ingest
      - kobo_ingest_state:/var/lib/kobo-ingest
      - {{ calibre_web_library_path }}:/calibre-library
    environment:
      PUID: "{{ calibre_web_puid }}"
      PGID: "{{ calibre_web_pgid }}"
      TZ: "{{ calibre_web_tz }}"

volumes:
  calibre_config:
  kobodl_config:
  cwa_ingest:
  kobo_ingest_state:
